

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">

    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">

        <!-- -------------- Products Status Table -------------- -->
        <div class="row">
            <div class="col-xs-12">
                    <button class="btn btn-primary" (click)="create()">Create new user</button><br/><br/>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title hidden-xs"> user status</span>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                <thead>
                                    <tr class="bg-light">
                                        <th class="text-center  bg-primary"></th>
                                        <th class="text-center bg-primary">ID</th>     
                                        <th class="text-center bg-primary">Username</th>                            
                                        <th class="text-center bg-primary">Name</th>                                  
                                        <th class="text-center bg-primary">Description</th>
                                        <th class="text-center bg-primary">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let user of users'>
                                        <td class="text-center">
                                            <label class="option block mn">
                                                <input type="checkbox" name="inputname" value="FR">
                                                <span class="checkbox mn"></span>
                                            </label>
                                        </td>
                                        <td class="text-center ">
                                            {{user.Id}}
                                        </td>
                                        <td class="text-center ">
                                            {{user.Username}}
                                        </td>  
                                        <td class="text-center ">
                                            {{user.FirstName}} {{user.LastName}}
                                        </td >
                                   
                                        <td class="text-center ">
                                            {{user.Description}}
                                        </td>
                                        <td class="text-center ">
                                          <!-- <button class="btn btn-primary" (click)="detail(user)">edit</button>
                                          <button class="btn btn-primary" (click)="delete(user)">delete</button> -->
                                          <div class="btn-group">
                                                <button type="button" class="btn btn-info" (click)="detail(user)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-info dark" (click)="delete(user)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     

    </div>
    <!-- -------------- /Column Center -------------- -->

</section>
<!-- -------------- /Content -------------- -->